<!-- Side navigation -->
<div id="mySidenav" class="sidenav">
    <img src="../../assets/UTILsst (branco).svg" alt="">
    <a>Favoritos</a>
    <a>Manutenção</a>
    <a>Estatística</a>
</div>
      <!-- Page content -->
<div class="main">
    <app-navbar></app-navbar>
</div>

<!-- SCRIPT TO OPEN AND CLOSE SIDE BAR -->
<script type="text/javascript">
   
    function closeNav() {
        //document.getElementById("sidenav").style.width = "0";
        console.log("clicked");
    }
</script>




<!-- Side navigation -->
<div class="sidenav" style="background-color: #464646;">
    <img src="assets\UTILsst (branco).svg">

    <div class="sizeimg">
    <a href="#">Favoritos
      <img class="img1" src="assets\Favoritos.svg">
    </a>
<br>
    <a href="#">Manutenção
      <img class="img2" src="assets\Manutenção.svg">
    </a>
    <br>
    
    <a href="#">Estatísticas
      <img class="img3" src="assets\Estatística.svg">
    </a>
  </div>

  </div>
  
  <!-- Page content -->
  <div id="main">
    ...
  </div>
